
.uploader {
    display: inline-block;
    background: navy;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    width: 8em;
    height: 4em;
    line-height: 4em;
}

.uploader:hover {
    background: blue !important;
}

#neat_instant_success { background: green; }
#neat_instant_error { background: red; }


